* {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.header {
	background: #f57c71;
	border-radius: 20px;
	display: flex;
	padding: 30px;
	justify-content: space-between;
}

.header .my-own-image {
	border-radius: 5px;
}

.wrapper {
	background: #fcf688;
}

.contact-information {
	align-self: center;
}

.main__summary {
	margin: 20px;
}

.main__main-goal {
	color: #faa91c;
}

.main__skills {
	margin-bottom: 10px;
}

.main__list-skills,
.main__experience-list {
	list-style-type: none;
}

.main__skills-cont {
	margin-top: 10px;
	max-width: 1024px;
	background: #f57c71;
	padding: 30px;
	border-radius: 20px;

}

.main__code-example {
	margin-top: 10px;
}

.main__experience {
	margin-bottom: 10px;
}

.main__experience-cont {
	background:  #f57c71;
	border-radius: 15px;
	padding: 30px;
	margin-top: 10px;
}


























footer {
	width: 1024px;
	background: #f57c71;
	border-radius: 15px;
}

footer .paragraph {
	padding-left: 20px;
}